<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
</head>

<body>
    <div id="app">
        <img src="./Standby_white.png" class="cover" alt="">
        <div class="container">
            <section>
                <h1>工作人員</h1>
                <div class="staff" v-for="group in staff">
                    <div class="container">
                        <h2>
                            {{group.name}}
                        </h2>
                        <h4 class="staff-description">
                            {{group.description}}
                        </h4>
                        <div class="list">
                            <div class="staff-member" v-for="member in group.members">
                                <img class="staff-img" :src="'https://www.gravatar.com/avatar/'+member.emailHash"
                                    alt="">
                                <div class="staff-name">
                                    {{member.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section class="sponsors">
                <h1>贊助廠商</h1>

                <div class="list">
                    <template v-for="sponsor in sponsors">
                        <div v-if="sponsor.firstInClass" class='tag'>
                            
                            <div class="text" :id="sponsor.level">
                                <img class="tag-img" :src="'https://sitcon.org/2019/static/img/'+sponsor.level+'.svg'"
                                    alt="">
                                <!-- {{level2name(sponsor.level)}} -->
                            </div>
                        </div>
                        <div class="sponsor">
                            <img class="sponsor-img" :src="'https://sitcon.org/2019/static/img/sponsor/'+sponsor.image"
                            alt="">
                            <div class="sponsor-name">
                                {{sponsor.name}}
                            </div>
                        </div>
                    </template>
                </div>
            </section>
            <hr>
            <section class="individuals">
                <h1>個人贊助</h1>
                <div class="list">
                    <div class="individual" v-for="name in individual">
                        {{name}}
                    </div>
                </div>
            </section>
        </div>
        <img src="./Standby_black.png" class="cover" alt="">

    </div>
</body>
<script src="./main.js"></script>

</html>