html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
}

.container {
    margin: 0px 10px;
    height: 100%;
    overflow: hidden;
}

.group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sgroup {
    width: 100%;
    margin-left: 60px;
    margin-top: -200px;;
    border-radius: 2rem;
    border: solid 5px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.overlay {
    z-index: 99;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    opacity: 1;
    transition: opacity 1s;
}

.done .overlay {
    opacity: 0;
}

/* sponser */

.sponser {
    width: 33.33%;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.sponser img {
    width: 100%;
}

/* TAG */

.tag {
    display: block;
    position: relative;
    width: 100%;
    /* margin: 100px 0px 20px; */
    /* padding: 32px 0px 32px; */
    display: flex;
    height: 300px;

}


.anchor {
    /* position: relative */
    opacity: 0;
}

.anchor,
.tag .text {
    /* border-top: solid 2px gray; */
    width: 100%;
    /* background-color: gray; */
    z-index: 9;

    writing-mode: vertical-lr;
    white-space: nowrap;
}

.text {
    height: 240px;

    position: fixed;
    top: 40px;
    left: -6px;
}

.tag-img {
    width: 50vw;
    max-width: 180px;
    margin: 0;
    position: absolute;
    right: 0px;
    /* transition: max-width .3s; */
}

.fixed .tag-img {
    /* max-width: 150px; */
}
