html,
body,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url('./SITCON19_black_static_visual.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

canvas {
    opacity: .7;
}